<!DOCTYPE html>
<html>
<head>
  <title>Weather App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>🌍 Kathmandu Weather</h1>
  <h2>{{mylocation}}</h2>

  <!-- Hourly Forecast -->
  <section>
    <h2 id="day-title">Today's Hourly Forecast</h2>
    <div class="hourly-container" id="hourly"></div>
  </section>

  <!-- Daily Forecast -->
  <section>
    <h2>Next 6 Days Forecast</h2>
    <button id="back-btn">Get Current Weather</button>
    <div class="daily-container" id="daily"></div>
  </section>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
